.rainbow {
  animation: rainbow 10s infinite alternate;
}
@keyframes rainbow {
  0% {
    color: currentColor;
  }

  10% {
    color: black;
  }

  20% {
    color: greenyellow;
  }

  30% {
    color: cyan;
  }

  40% {
    color: deeppink;
  }

  50% {
    color: coral;
  }

  60% {
    color: blueviolet;
  }

  70% {
    color: crimson;
  }

  80% {
    color: cornflowerblue;
  }

  90% {
    color: white;
  }

  100% {
    color: currentColor;
  }
}

/* ! Font */
.edu-tas-beginner-bolder {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-size: 7rem;
}

.edu-tas-beginner-light {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
}

/* ! Layout */
.bg-image-wall {
  background-image: url(../img/wall.png);
}

.bg-image-cork {
  background-image: url(../img/cork.png);
}

/* ! Photo */
[data-element="photo"] {
  cursor: pointer;
}

#layoverImage {
  cursor: default;
}

/* ! Card */
.card {
  box-shadow: 2px 2px 3px #4e4545;
}

.effectsActive {
  transition: 1s;
  transform: rotate(10deg) scale(1.1);
  box-shadow: 2px 2px 10px #4e4545;
  z-index: 1;
}

.effectsDeactive {
  transition: 1s;
  transform: rotate(0deg) scale(1);
  box-shadow: 2px 2px 3px #4e4545;
  z-index: 0;
}

/* ! Layover */
.layover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
